---
import Layout from "../layouts/Layout.astro";
import Introduction from "../sections/Introduction.astro";
import WorkExperience from "../sections/WorkExperience.astro";
import Projects from "../sections/Projects.astro";
import SkillsAndResume from "../sections/SkillsAndResume.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Introduction />
    <WorkExperience />
    <Projects />
    <SkillsAndResume />
  </main>
  <Footer />
</Layout>
