---
import SkillsIcons from "./SkillsIcons.astro";
import ResumeButton from "./ResumeButton.astro";
---

<SkillsIcons />
<div class="py-24 flex justify-center items-center" id="resume">
  <ResumeButton />
</div>
